html {
    font-family: Univers, Helvetica, Arial, sans-serif;
}


html * {
    margin: 1em;
    background: white;
        
}

/*main {
    margin-left: 15%;
}*/


@media screen and (max-height: 450px) {
    .nav-bar {padding-top: 15px;}
    .nav-bar > .element {font-size: 18px;}
}

h1 {
    padding: 0.5em;
    padding-left: 0;
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    color: rgb(252, 142, 11);
}

.im-a-p-class {
    position: relative;
    margin: auto;
    width: 50%;
    padding: 1em;
    /*border: 1px solid white;*/
    border: 1px solid rgb(252, 142, 11);
    color: black;
    font-size: 1em;
    text-align: left;
} 

.nav-bar {
    width: 100%;
    height: 50px;
    /*position: sticky;
    top: 0;*/
    margin: 0;
    margin-bottom: 1em;
    background: rgb(255, 170, 57);
}

.nav-bar a {
    width: 24.76%;
    line-height: 50px;
    text-align: center;
    background: rgb(255, 170, 57);;
    color: white;
    display: inline-block;
    margin: 0;
    text-decoration: none;

}

.nav-bar a:hover { 
    background: rgb(252, 142, 11);
}   

.julia {
    text-align: center;
    width: 60%;
    padding: 0;
    margin: 0;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.box {
    padding: 0;
    margin: 0;
    width: 50%;
    margin-left: 35%;
}

/*section div {
    width: 25%;
    height: 200px;
    background: #9c5;
}*/